@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  header {
    margin: 16px auto;
    max-width: 960px;
    width: 85%;
  }

  #title {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
  }

  .bills_menu a:link {
    font-size: .8em;
    color: #166667;
    padding-bottom: 20px;
    text-decoration: none;
    font-weight: bold;
  }

  .bills_menu a:visited {
    color: #166667;
  }

  .flash {
    color: red;
  }

  nav {
    float:right;
  }

  li {
    padding:0px 0px 20px 0px;
  }

  li .bill_name {
    font-size:.8em;
  }

  li .bill.type.category {
    font-size:.8em;
  }

  li a {
    font-size:.8em;
  }

  /* --- Welcome Page Styles --- */
  body {
    background-color: lightblue;
    color: #333;
    font-family: Courier ;
    line-height: 18px;
  }

  .wrapper {
    background: #fff;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
  }

  h1 {
    font-size: 36px;
    line-height: 54px;
  }

  h2 {
    border-bottom: 2px solid #ccc;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin-bottom: 18px;
  }

  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 70%; /* 480px / 800px */
  }

  .branding {
    clear: both;
  }

  footer.branding {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }
}
