<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to BillPay</h2>

    <div class="content">
      <p>This Sinatra app allows you to sign up, log in, and keep track of your bills.</p>
      <p><a href="/signup">Sign up</a> or <a href="/login">login</a> to get started.</p>
    </div>

  </div>
</div>
